.main-header {
    background: url(../Images/vecteezy_background-fineartabstract_kp0121.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    color:blueviolet
}



.main-header-signup {
    background: url(../Images/vecteezy_background-fineartabstract_kp0121.jpg);
    min-height: 350px;
    background-size: cover;
    background-position: center;
    color:blueviolet
}

.main-header-signup .showcase { 
    padding-top: 50px;
}


.section-developers {
    position: relative;
    background: url(../Images/img3.jpg);
    background-size: cover;
    background-position: top left;
    min-height: 160px;
}


.section-podcast {
    position: relative;
    background: url(/Images/image\ 9.webp);
    background-size: cover;
    background-position: center;
    min-height: 160px;
}


.primary-overlay {
    background: rgba(112, 81, 176, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}



.btn-extend {
    display: block;
    width: 100%;
}


.btn-extend:hover {
    border: 10px purple;
    cursor: alias;
}